/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 20px;
    padding: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(139, 1, 1);
    border-radius: 20px;
    padding: 2px;
    border: 1px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
